.pdf
  body
    background: white

body
  background: black

.bespoke-parent
  color black

.bespoke-slide
  background #fff

h1
  font-family 'Gill Sans'
  margin-bottom -2px

table
  border-bottom: dotted 1px #e3e5e8

thead
  background #8c2425
  color #fff

tbody
  tr:nth-child(odd)
    background #e3e5e8


a, a:visited, a:active, a:link
  font-size 0.8em
  color: #74a723


.lang-sh, .lang-bash
  outline 1px solid cream


.section-title, .title-page, .image-no-title
  justify-content center


pre.language-javascript
  border 1px solid #861001


code.lang-sh, code.lang-bash
  background #022550
  color #dddee0
  border 1px solid #1167bd

ul li:first-child, ul li li:first-child, ol li:first-child, ol li li:first-child
  margin-top: 20px